@media (max-width: 900px) {
  .monthHead h1 {
    font-size: 2rem !important;
  }

  .monthHead h2 {
    font-size: 1.5rem !important;
  }

  .tableContainer {
    align-items: flex-start !important;
    overflow-x: scroll !important;
  }
  .monthHead svg {
    width: 30px;
  }
}

@media (max-width: 600px) {
  .addRowContainer {
    padding: 2rem !important;
  }
}

.monthPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5rem;
}

.monthHead {
  background: 100% / cover no-repeat url("./assets/home.png");
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthHeadTitle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthHead svg {
  fill: var(--mauve);
  cursor: pointer;
}

.monthHead h1 {
  margin: 0;
  font-size: 7rem;
  background: linear-gradient(60deg, #be46f6 0%, #be46f6 20%, #3500a6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.monthHead h2 {
  margin: 0;
  font-family: var(--num-font);
  font-size: 3rem;
  color: white;
}

.tableContainer {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* -------------------------------------------------------- */

/*
 * Table
 */

.monthPage table {
  /* white-space: nowrap; */
  text-align: center;
  padding-bottom: 4rem;
}

.monthPage th:hover {
  background-color: #fff4fc;
}

.monthPage th.desc {
  position: relative;
  border-bottom: 5px solid var(--mauve);
}

.monthPage th.asc {
  position: relative;
  border-top: 5px solid var(--orange);
}

/* row */
.monthPage table tbody tr:not(.monthPage table tr:first-child) {
  transition: all .5s ease;
  cursor: pointer;
}

.monthPage table tbody tr:hover:not(.monthPage table tr:first-child, .temporaryDelRow, .temporaryAddRow) {
  background-color: var(--orange);
  color: white !important;
}


.monthPage table tbody tr:nth-child(even) {
  background-color: #fff4fc;
}

.monthPage table tr:first-child td:nth-child(4) {
  background-color: var(--mauve);
  color: white;
  border-radius: 3px;
}

.monthPage table td:nth-child(4):not(.monthPage table tr:first-child td:nth-child(4)) {
  border-radius: 3px;
  background-color: var(--orange);
  color: white;
}

.monthPage table td:nth-child(3),
.monthPage table td:first-child,
.monthPage table td:nth-child(4) {
  font-weight: 600;
  font-size: 1.2rem;
}

/* head */
.monthPage table th {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  transition: all .5s ease;
  /* min-width: 5rem; */
}

/* cell */
.monthPage table td {
  padding: 1rem 2rem;
  font-family: var(--num-font);
}

.temporaryDelRow {
  cursor: no-drop !important;
  animation: blinkRed 3s ease-in-out infinite;
}

.temporaryAddRow {
  cursor: no-drop !important;
  animation: blinkGreen 3s ease infinite;
}

@keyframes blinkRed {
  0% {
    background-color: none;
  }

  50% {
    background-color: #ff000086;
    color: white;
  }

  100% {
    background-color: none;
  }
}
@keyframes blinkGreen {
  0% {
    background-color: none;
  }

  50% {
    background-color: #6ae255af;
    color: white;
  }

  100% {
    background-color: none;
  }
}

/* -------------------------------------------------------- */

.addRowContainer {
  position: relative;
  margin: 1rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 2px solid var(--mauve);
  box-shadow: 0 0 50px #4a005815;
}

.labelWraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: .8rem;
  min-width: 6rem;
}

.inputPrice {
  height: 2.1rem;
  font-size: 1rem;
  padding: 0 1rem;
  font-family: var(--num-text);
  outline: none;
  border-radius: 5px;
  border: none;
  color: var(--orange);
  font-weight: 600;
}

/* 
.addRowContainer .inputPrice:focus-within {
  border: 1px solid var(--orange);
} */

.selectCredOrDeb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .7rem;
  border-radius: 5px;
  width: 100%;
  /* cursor:default; */
}

.selectCredOrDeb p {
  margin: 0;
}

.selectCredOrDeb div {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.selectCredOrDeb .cred {
  background-color: #1DC60150;
  transition: all .5s ease;
}

.selectCredOrDeb .cred:hover {
  background-color: #1DC60180;
}

.selectCredOrDeb .deb {
  background-color: #E66C6C50;
  transition: all .5s ease;
}

.selectCredOrDeb .deb:hover {
  background-color: #E66C6C80;
}

.deb.isActive {
  border: 1px solid #222222;
  background-color: var(--red);
}

.cred.isActive {
  border: 1px solid #222222;
  background-color: var(--green);
}

.addRowContainer .primaryButton {
  position: absolute;
  bottom: -1.5rem;
  right: 2rem;
  margin: 0 0 0 3rem;
  font-size: .9rem;
  padding: 1rem;
}

.addRowContainer .box {
  color: #9b9999;
}

/* -------------------------------------------------------- */

/* 
 * Edit Row
 */

.editRowPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editRowContainer {
  background-color: white;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid var(--mauve);
  box-shadow: 0 0 50px #00000050;
}

.closeEditRow {
  position: absolute;
  background-color: red;
  border-radius: 25px;
  width: 1rem;
  height: 1rem;
  color: white;
  font-weight: 600;
  text-align: center;
  right: -.7rem;
  top: -.7rem;
  padding: .5rem;
  cursor: pointer;
}

.editRowContainer .secondaryButton {
  color: red;
}