@media (max-width: 600px) {
  .summaryHead h1 {
    font-size: 10vw !important;
  }

  .summaryButton .primaryButton {
    right: none !important;
  }
}

@media (max-width: 900px) {
  .summaryHead {
    background: center 50% / 170% no-repeat url("./assets/background.png") !important;
  }
}

.summaryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

.summaryHead {
  background: center 40% / 100% no-repeat url("./assets/background.png");
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

.summaryHead h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 100%;
  background: linear-gradient(60deg, #be46f6 0%, #be46f6 20%, #3500a6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  text-align: center;
  word-wrap: break-word;
  animation: .5s ease-in-out fadeInn;
}

@keyframes fadeInn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.yearContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.collapseDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 40rem;
  cursor: pointer;
}

.collapseDiv:hover h3,
.collapseDiv:hover svg {
  color: var(--orange);
  stroke: var(--orange);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collapseDiv svg {
  stroke: var(--light-text);
  animation: .5s rotate ease;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.yearContainer h3 {
  font-family: var(--num-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-text);
}


.monthsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 40rem;
  gap: 1rem;
}

.monthsContainer li {
  animation: .5s dropDown ease;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  90% {
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.monthRow {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .3s ease;
}

.monthRow div {
  width: 100%;
  text-align: center;
}

.monthRow:hover {
  background-color: var(--orange);
  color: white;
  width: 85%;
  box-shadow: 0 0 50px #0000001a;
}

.monthSolde {
  font-family: var(--num-font);
}

.summaryButton,
.monthButton {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.summaryButton .primaryButton,
.monthButton .primaryButton {
  position: absolute;
  right: 2rem;
  top: -4.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  animation: .5s ease-in-out slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  90% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}